<p>pokelist works!</p>
<div>
    <span>Add: <input [(ngModel)]="new_addition_id" type="text"/> <button (click)="addNewOne(new_addition_id)">+</button></span>
</div>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let trade of list | async">
            <td>
                {{ trade.pokemon.pokedex }}
            </td>
            <td>
                <img [src]="trade.sprite()">
            </td>
            <td>
                {{ trade.pokemon.species }}
            </td>
        </tr>
    </tbody>
</table>